{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6">
        Welcome to End to Face Recognition Web App  by Himashis Biswas
    </h3>
    <br>
    <p>
       
        <a href="https://www.linkedin.com/in/himashis-biswas-970338209/?originalSubdomain=in"> Linkedin Profile</a>
        <p>
        About me:
        I am Himashis Biswas an 3rd year undergrad in CS from IIEST SHIBPUR. I am a passionate
        problem solver and machine learning enthusiast mainly interested in computer vision 
        and self driving technologies . I am also enthusiastic about backend development ans Devops.
        </p>
    </p>

</div>


{% endblock %}